<div class="container">
  <div class="add-book">
    <h1 class="text-center">Add Book</h1>
    <form class="add-box">
      <div class="form-group">
        <label for="bookTitle">Title:</label>
        <input type="text" class="form-control" name="title" id="bookTitle" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="bookAuthor">Author:</label>
        <input type="text" class="form-control" name="author" id="bookAuthor" placeholder="Author">
      </div>
      <div class="form-group">
        <label for="bookDescription">Description:</label>
        <textarea class="form-control" name="description" id="bookDescription" placeholder="Description"></textarea>
      </div>
      <div class="form-group">
        <label for="bookUrlImage">Image URL:</label>
        <input type="text" class="form-control" name="url_image" id="bookUrlImage" placeholder="URL Image">
        <p class="help-block">Ex: http://imagens.elivrosgratis.com/capas/Harry-Potter--E-A-Pedra-Filosofal.jpg</p>
      </div>
      <br>
      <div class="form-buttons text-right">
        <a href="/#/" class="btn btn-link">Cancel</a>
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </form>
  </div>
</div>
