
<div class="alert alert-success" role="alert" ng-show="mensagem.delete">
  <i class="fa fa-check"></i> {{mensagem.delete}} <a href="/#/mybooks">Go back.</a>
</div>

<div class="book" ng-hide="mensagem.delete">
  <div class="container">
    <div class="alert alert-danger text-center" role="alert" ng-show="mensagem.erro">
      <i class="fa fa-exclamation-circle"></i> {{mensagem.erro}}
    </div>
    <div class="alert alert-success" role="alert" ng-show="mensagem.request">
      <i class="fa fa-check"></i> {{mensagem.request}}
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="book-img text-center">
          <img src="{{book.image}}" alt="{{book.title}}" />
        </div>
      </div>
      <div class="col-md-5">
        <h2>{{book.title}}</h2>
        <p class="book-author">{{book.author}}</p>
        <br>
        <p>{{book.description}}</p>
      </div>
      <div class="col-md-2">
        <ul class="list-unstyled">
          <li ng-show="!checkUser() && userLoged">
            <button type="button" class="btn btn-default" ng-click="request()">
              <i class="fa fa-exchange"></i> Request trade
            </button>
            <p class="book-owner">Owner: {{ book.owner.name }}</p>
          </li>
          <li ng-show="checkUser()">
            <button type="button" class="btn btn-danger" ng-click="removeBook()">
              <i class="fa fa-trash-o"></i> Remove Book
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
