<div class="books">
  <div class="container">
    <div class="jumbotron text-center">
      <h1>All books</h1>
    </div>
    <div class="book-list">
      <ul class="list-inline list-unstyled text-center">
        <li class="book-item" ng-repeat="book in books" style="
        background-image: url({{book.image}});">
          <!-- <img class="item-image" src="{{book.image}}" alt="{{book.title}}" /> -->
          <a href="/#/books/{{book._id}}">
            <p class="item-title">{{book.title}}</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
