<div class="banner">
  <div class="container">
    <div class="text-center">
      <h1>Book2Share</h1>
      <p>Share knowledge, share books</p>
    </div>
  </div>
</div>
<!-- Start feature div -->
<div class="feature">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-book fa-5x"></i>
        <h3>Catalogue your books online</h3>
      </div>
      <div class="col-md-4">
        <i class="fa fa-users fa-5x"></i>
        <h3>See all of the books our users own</h3>
      </div>
      <div class="col-md-4">
        <i class="fa fa-exchange fa-5x"></i>
        <h3>Exchange books with other users</h3>
      </div>
    </div>
  </div>
</div>
<!-- End feature div -->
<div class="list-resumed">
  <div class="container">
    <h1 class="text-center">Books</h1>
    <ul class="list-inline list-unstyled">
      <li class="book-item" ng-repeat="book in books" style="
      background-image: url({{book.image}});">
        <!-- <img class="item-image" src="{{book.image}}" alt="{{book.title}}" /> -->
        <p class="item-title">{{book.title}}</p>
      </li>
    </ul>
    <div class="text-center">
      <a href="/#/books">Ver a lista completa</a>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="text-center">
    <a href="https://twitter.com/ribeirojpn"></i> @RibeiroJPN </a> | <a href="https://github.com/ribeirojpn"><i class="fa fa-github"></i> ribeirojpn</a>
  </div>
</footer>
