<div class="mybooks">
  <div class="container">
    <div class="jumbotron text-center">
      <h1>My Books</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation" ng-class="{active: checkPresentation('mybooks')}"> <!-- class="active" -->
            <a href="/#/mybooks" ng-click="setPresentation('mybooks')">My books</a>
          </li>
          <li role="presentation" ng-class="{active: checkPresentation('requests')}"> <!-- class="active" -->
            <a href="/#/mybooks" ng-click="setPresentation('requests')">Requests
              <span class="badge" ng-show="activedRequests">{{activedRequests}}</span>
            </a>
          </li>
          <li role="presentation" ng-class="{active: checkPresentation('myrequests')}"> <!-- class="active" -->
            <a href="/#/mybooks" ng-click="setPresentation('myrequests')">My Requests
              <!-- <span class="badge" ng-show="respondedRequests">{{respondedRequests}}</span> -->
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-right">
        <a href="/#/add" class="btn btn-success"><i class="fa fa-plus"></i> Add book</a>
      </div>
    </div>

    <!-- My Books -->
    <div class="my-book-list" ng-show="checkPresentation('mybooks')">
      <ul class="list-inline list-unstyled text-center" ng-hide="mensagem.text">
        <li class="book-item" ng-repeat="book in books" style="
        background-image: url({{book.image}});">
          <!-- <img class="item-image" src="{{book.image}}" alt="{{book.title}}" /> -->
        <a href="/#/books/{{book._id}}">
          <div class="sup">
            <p class="item-title">{{book.title}}</p>
          </div>
        </a>
        </li>
      </ul>
      <div class="text-center" ng-show="mensagem.text">
        <p>
          {{mensagem.text}}
        </p>
      </div>

    </div>
    <!-- end My Books -->
    <!-- Requests -->
    <div class="requests" ng-show="checkPresentation('requests')">
      <table class="table table-hover">
        <tr>
            <th>Book</th>
            <th>Requested by</th>
            <th class="text-center">Agree to trade?</th>
        </tr>
        <tr ng-repeat="request in requests">
            <td>
                <a ng-href="#/books/{{request.bookId._id}}">{{request.bookId.title}}</a>
            </td>
            <td>{{request.requesterId.name}}</td>
            <td class="text-center">
                <button ng-click="trade(request,true)" class="btn btn-success">
                  <i class="fa fa-check"></i>
                </button>
                <button ng-click="trade(request,false)" class="btn btn-danger">
                  <i class="fa fa-remove"></i>
                </button>
            </td>
        </tr>
      </table>
      <p>
        Finished:
      </p>
      <ul class="list-unstyled">
        <li class="request" ng-repeat="inactiveRequest in inactiveRequests">
          <i class="fa fa-check" ng-show="inactiveRequest.approved"></i>
          <i class="fa fa-remove" ng-show="!inactiveRequest.approved"></i>
          | {{inactiveRequest.bookId.title}} - Requested by {{inactiveRequest.requesterId.name}}
        </li>
      </ul>
    </div>
    <!-- end Requests -->
    <!-- MyRequests -->
    <div class="myrequests" ng-show="checkPresentation('myrequests')">
      <table class="table table-hover">
        <tr>
            <th>Book</th>
            <th>Owner</th>
            <th class="text-center">Action</th>
        </tr>
        <tr ng-repeat="myrequest in myrequests">
            <td>
                <a ng-href="#/books/{{myrequest.bookId._id}}">{{myrequest.bookId.title}}</a>
            </td>
            <td>{{myrequest.ownerId.name}}</td>
            <td class="text-center">
                <button ng-click="cancel(myrequest)" class="btn btn-danger">
                  <i class="fa fa-trash"></i>
                  CANCEL
                </button>
            </td>
        </tr>
      </table>
      <p>
        Finished:
      </p>
      <ul class="list-unstyled">
        <li class="request" ng-repeat="respondedMyRequest in respondedMyRequests">
            <i class="fa fa-check" ng-show="respondedMyRequest.approved"></i>
            <i class="fa fa-remove" ng-show="!respondedMyRequest.approved"></i>
             {{respondedMyRequest.bookId.title}} - for {{respondedMyRequest.ownerId.name}}
        </li>
      </ul>
    </div>
    <!-- end MyRequests -->
  </div>
</div>
