<div class="mybooks">
  <div class="container">
    <div class="jumbotron text-center">
      <h1>My Books</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation"> <!-- class="active" -->
            <a href="/#/requests">Requests
              <span class="badge" ng-show="activedRequests">{{activedRequests}}</span>
            </a>
          </li>
          <li role="presentation"> <!-- class="active" -->
            <a href="/#/myrequests">My Requests
              <span class="badge" ng-show="respondedRequests">{{respondedRequests}}</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 text-right">
        <a href="/#/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add book</a>
      </div>
    </div>
    <div class="my-book-list">
      <ul class="list-inline list-unstyled text-center">
        <li class="book-item" ng-repeat="book in books" style="
        background-image: url({{book.image}});">
          <!-- <img class="item-image" src="{{book.image}}" alt="{{book.title}}" /> -->
        <a href="/#/books/{{book._id}}">
          <div class="sup">
            <p class="item-title">{{book.title}}</p>
          </div>
        </a>
        </li>
      </ul>
    </div>
  </div>
</div>
