<div class="search">
  <div class="search-text">
    <div class="container">
      <p>Searching for "<a>search text</a>".</p>
    </div>
  </div>
  <div class="search-result">
    <div class="container">
      <ul class="book-list list-inline list-unstyled">
        <li class="book">
          <div class="row">
            <div class="col-md-2 text-center">
              <a href="/#/books/{{book._id}}"><img src="images/hp.jpg"></a>
            </div>
            <div class="col-md-10">
              <a href="/#/books/{{book._id}}"><h4 class="book-title">Harry Potter e a Pedra Filosofal</h4></a>
              <p class="book-description">
                Harry Potter e a Pedra Filosofal é o primeiro livro dos sete
                volumes da série de fantasia Harry Potter
              </p>
              <p class="owner">Owner: João Paulo Ribeiro</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
