<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Book2Share</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
    <header class="nav navbar">
      <div class="container">
        <ul class="list-inline">
          <li><h2>Book2Share</h2></li>
          
          <li><img style="width:40px;"class="user-photo" src="<%= usuarioImg %>"></li>
          <li><%= usuarioLogado %></li>

        </ul>
      </div>

    </header>
  </body>

</html>
