<!DOCTYPE html>
<html ng-app="booktoshare">
  <head>
    <meta name="viewport" content="width=device-width">
    <meta charset="utf-8">
    <title>Search for <%= searchTxt %></title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheet/styles.css">
    <!-- Web Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700" type="text/css">

    <!-- Web Icons -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="nav navbar">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <a class="navbar-brand" href="/#/">Book2Share</a>
          </div>
          <div class="col-md-4">
            <form class="navbar-form" action="/search" method="GET" role="search">
              <div class="input-group search-nav">
                <input type="search" name="q" class="form-control" placeholder="Search" aria-describedby="sizing-addon1" required="">
                <div class="input-group-btn">
                  <button type="submit" class="btn btn-default">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-4">
            <ul class="list-inline navbar-right navbar-text">
              <% if (usuarioLogado.length > 0) {%>
                <li><%= usuarioLogado %></li> |
                <li><a href="/logout">Logout</a></li>
              <%} else {%>
                <li><a href="#/login">Login</a></li>
              <%}%>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="search">
      <div class="search-text">
        <div class="container">
          <p>Searching for "<a><%= searchTxt %></a>".</p>
        </div>
      </div>
      <div class="search-result">
        <div class="container">
          <ul class="book-list list-inline list-unstyled">
            <li class="book">
              <div class="row">
                <div class="col-md-2 text-center">
                  <img src="images/hp.jpg">
                </div>
                <div class="col-md-10">
                  <h4 class="book-title">Harry Potter e a Pedra Filosofal</h4>
                  <p class="book-description">
                    Harry Potter e a Pedra Filosofal é o primeiro livro dos sete
                    volumes da série de fantasia Harry Potter
                  </p>
                  <p class="owner">Owner: João Paulo Ribeiro</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <script src="vendor/angular/angular.min.js"></script>
  <script src="vendor/angular-route/angular-route.min.js"></script>
  <script src="vendor/angular-resource/angular-resource.min.js"></script>
  <script src="js/main.js"></script>
  <script src="js/controllers/HomeController.js"></script>
  </body>
</html>
